<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link th:href="@{/css/homeCSS.css}" rel="stylesheet">
	<head></head>
<body>
	<nav><p class="titolo">OFFICINA MONTEVERDE</p></nav>
	<header>	
	  <style>
		html {
			background-image: url('/images/backgroundoff.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}
	  </style>
		<div class="headerButtonsIndex"; >
			<a  th:href="@{/login}" ><button class="sub-button" style="color: white; background-color: black;" th:text="#{index.login}">Accedi</button></a>
			<a  th:href="@{/register}" ><button class="sub-button" style="color: white; background-color: black;" th:text="#{index.register}">Registrati</button></a>
		</div>	
	</header>
	<section>
	</section>
    <footer></footer>
</body>
</html>