<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/basic.css}" rel="stylesheet">

<body>
	<nav>
		<p class="titolo"OFFCINE ROMA</p>
	</nav>
	<div th:if="${intervento}" th:object="${intervento}" style="display: flex; justify-content: center;">
		  <div class="box" style="display: flex;width: 400px;background-color: khaki">
			<div class="info">
				Nome:<span th:text="*{nome}">qui-va-nome</span><br>
				Descrizione:<span th:text="*{descrizione}">qui-va-descrizione</span><br>
				Meccanico:<span><a href="meccanico.html" th:href="@{'/meccanico' + '/' + ${meccanico.id}}"
					       th:text="|${meccanico.nome} ${meccanico.cognome}|"></a></span>
		    </div>
	      </div>
    </div>

	<div th:unless="${intervento}">Non esiste</div>
			<div class="flex-container2">
		<div>
			<form th:if="${credentials.role == 'ADMIN'}" th:action="@{'/admin/eliminaIntervento' + '/' + ${intervento.id}}"
				method="POST">
				<button class="sub-button" type="submit" th:text="#{elimina.intervento}"></button>
			</form>
		</div>
	
		<div><a href="/default"><button class="sub-button" style="margin-top: 19px;">Home</button></a></div>

	</div>
</body>

</html>