<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link th:href="@{/css/basic.css}" rel="stylesheet">
	<head><title>prenotazioni</title></head>
<body>
	<nav><p class="titolo">OFFCINE ROMA</p></nav>
	<div>
		<ul style="margin-right: 2%;">
			<li style="margin-top: 25px;" th:each="prenotazione : ${prenotazioni}">
				<a href="prenotazione.html" 
				   th:href="@{'/prenotazione' + '/' + ${prenotazione.id}}" ><span class="el-lista"  th:text="|${prenotazione.intervento.nome}|">Paolo Rossi</span></a>
			</li>
		</ul>
	</div>
	<span><a href="/default"><button type="button" class="sub-button" style="margin:30px;"th:text="#{indietro}">Indietro</button></a></span>

</body>
</html>
