<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/basic.css}" rel="stylesheet">

<head>
    <title>Registrazione</title>
</head>

<body>
    
    <div>

        <form th:action="@{/register}" method="POST">
            <h4 class="titolo">Registrazione</h4>
            <style>
		      html {
			   background-image: url('/images/backgroundloginoff.jpg');
			   background-repeat: no-repeat;
			   background-attachment: fixed;
			   background-size: 100% 100%;
		      }
	        </style>
            <table class="input-div">
                <tr class="input-div">
                    <td><input type="text" placeholder="username" required style="border-radius: 74px; height:40px; text-align: center;" th:field="${credentials.username}" /></td>
                    <td th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"
                        th:style="'color:red'"></td>
                </tr>
                <tr class="input-div">
                    <td><input type="password" placeholder="password" required  style="border-radius: 74px; height:40px; text-align: center;" th:field="${credentials.password}" />
                    </td>
                    <td th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"
                        th:style="'color:red'"></td>
                </tr>
                <tr class="input-div">
                    <td><input type="text" placeholder="nome" required  style="border-radius: 74px; height:40px;  text-align: center;" th:field="${user.nome}" /></td>
                    <td th:if="${#fields.hasErrors('user.nome')}" th:errors="${user.nome}" th:style="'color:red'"></td>
                </tr>
                <tr class="input-div">
                    <td><input type="text" placeholder="cognome" required style="border-radius: 74px; height:40px; text-align: center;" th:field="${user.cognome}"/></td>
                    <td th:if="${#fields.hasErrors('user.cognome')}" th:errors="${user.cognome}" th:style="'color:red'">
                    </td>
                </tr>
                <tr class="input-div">
                    <td><input type="text" placeholder="recapito" required style="border-radius: 74px; height:40px; text-align: center;" th:field="${user.recapito}"/></td>
                    <td th:if="${#fields.hasErrors('user.recapito')}" th:errors="${user.recapito}" th:style="'color:red'">
                    </td>
                </tr>
                <tr>
                    
                </tr>
            </table>
            <div>
                        <button class="sub-button" style="color: white; background-color: black;" type="submit"th:text="#{index.register}">Registra</button>
                        <span><button type="reset" class="sub-button" style="color: white; background-color: black;" th:text="#{cancella}">Cancella</button></span>
						
                    </div>
        </form>
        <span><a href="/index"><button class="sub-button" style="color: white; background-color: black;" th:text="#{indietro}">Home</button></a></span>
    </div>
</body>

</html>